﻿// Responsive
$large: 1280px;
$medium: 1024px;
$tablet: 800px;
$phone: 415px;

// Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// Animation speeds
$hover-speed: 0.2s;
$appear-speed: 0.36s;

// Colors
$white: white;
$off-white: #eeeeee;
$light-gray: #afafaf;
$gray: #666666;
$dark-gray: #303030;
$black: black;
$blue: #10a0f0;
$light-blue: #3ebef0;